node_modules 
dist/
.nuxt/
.eslintcache
.nuxt/views/error.html
.nuxt/vetur/tags.json
.nuxt/utils.js
.nuxt/store.js
.nuxt/server.js
.nuxt/routes.json
.nuxt/router.js
.nuxt/mixins/fetch.server.js
.nuxt/middleware.js
.nuxt/loading.html
.nuxt/index.js
.nuxt/components/readme.md
.nuxt/components/nuxt-error.vue
.nuxt/components/index.js
.nuxt/client.js
.nuxt/App.js
